@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import 'navbar';

body {
  background-color: #d7e3fc;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

/* INDEX */

/* CARDS */

.card-index {
  display: flex;

  .marg{
    margin: 1rem;
  }
}

/* ADMIN */

/* FORMS */

form{
  display: flex;
  margin: 1rem;
}

/* LIST TO */

/* CARDS */

.listTo {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer{
  position:absolute;
  bottom:0;
  background-color: white;
  width: 100%;
  height:8rem;
}
.pied{
  display: flex;
  flex-flow: row;
  padding: 1rem;
  justify-content: space-between;
}
.logos{
  display: flex;
  flex-flow: row;

}
.logos img{
 width: 2rem;
 height: 2rem;   

}
