@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import 'navbar';

body {
  background-color: #d7e3fc;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

/* INDEX */

/* CARDS */

.card-index {
  display: flex;

  .marg{
    margin: 1rem;
  }
}

/* ADMIN */

/* FORMS */

form{
  display: flex;
  margin: 1rem;
}

/* LIST TO */

/* CARDS */

.listTo {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer{

  width: auto;
  height: 10rem;
  background-color: aqua;
}