@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


body {
  background-color: #d7e3fc;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}


.card-index {
  display: flex;

  .marg{
    margin: 1rem;
  }
}